/*------------------------------------------------------------------
[Table of contents]

1. Import libraries
2. Custom properties
3. General Styles
4. Typography
5. Header and Navbar
6. Buttons and Links
7. Utilities
8. Sections
9. Swiper
10.Boxes and Cards
11.Footer
12.Accordion
13.Error 404
14.Responsive Layouts

-------------------------------------------------------------------*/

/* ---------------------------- */
/* Import libraries             */
/* ---------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('../css/vendor/bootstrap.min.css');

/* ---------------------------- */
/* Custom properties            */
/* ---------------------------- */
:root {
  --primary-color:#1747A6;
  --secondary-color:#F291A3;
  --text-color:#191919;
  --text-color-2:#7A7A7A;
  --accent-color:#3B67BF;
  --accent-color-2:#F2BBC5;
  --accent-color-3:#FBEAED;
  --font-1:"Nunito", sans-serif;
  --font-2:"Source Sans 3", sans-serif;
}

@font-face {
  font-family: 'Baar Metanoia';
  src: url('./fonts/BaarMetanoia-BWZ8.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Sacrifice Demo';
  src: url('./fonts/SacrificeDemo-8Ox1B.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: 'Ananda Black Personal Use';
  src: url('./fonts/AnandaBlackPersonalUse-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'Monday Feelings';
  src: url('./fonts/MondayFeelings-7BD2l.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* ---------------------------- */
/* General Styles               */
/* ---------------------------- */
body {
  /* font-family: var(--font-2); */
  font-family: 'Baar Metanoia';
  color: var(--text-color);
  background-color: #FFFFFF;
}

.bg-primary-color {
  background-color:#F291A3
}

.bg-primary-color-2 {
  /* background-color: var(--accent-color); */
  background-color: #F2BBC5;
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

.bg-secondary-color-2 {
  background-color: var(--accent-color-2);
}

.bg-accent-color {
  background-color: var(--accent-color-2);
}

.bg-accent-color-2 {
  background-color: var(--accent-color-3);
}

.bg-gradient-primary {
  /* background: linear-gradient(to bottom, var(--primary-color), #518ef8); */
  background-color: #17BEBB
;
}

.bg-gradient-secondary {
  /* background: linear-gradient(45deg, #8BACEE, #F7D3DA); */
}

.text-primary-color {
  color: #F291A3;
}

.text-black-color-2 {
  color: var(--text-color);
}

.text-secondary-color-2 {
  color: var(--secondary-color);
}

.text-muted-color {
  color: var(--text-color-2);
}

.accent-primary-color {
  color: var(--accent-color);
}

.accent-secondary-color {
  color: var(--accent-color-2);
}

.accent-tertiary-color {
  color: var(--accent-color-3);
}

.font-1 {
  /* font-family: var(--font-1); */
  /* font-family: 'Sacrifice Demo'; */
   font-family: 'Ananda Black Personal Use';
}

.font-2 {
  font-family: var(--font-2);
}

.section {
  padding: 6em 2em 6em 2em;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.b-container {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
}

/* ---------------------------- */
/* Typography                   */
/* ---------------------------- */
h1 {
  font-size: 40px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

button, a {
  font-size: 18px;
  font-family: var(--font-1);
}

ul {
  list-style: none;
}

p,
li {
  font-size: 18px;
}

img {
  object-fit: cover;
}

/* ---------------------------- */
/* Header and Navbar            */
/* ---------------------------- */
.top-bar {
  /* background-color: var(--primary-color); */
  background-color: #06321f;
  /* padding-block: 1.2rem; */
  min-height: 44px;
}

.social-box {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.social-box a {
  /* background-color: var(--secondary-color); */
  background: linear-gradient(45deg, #d9bf68, #d5992d);
  text-align: center;
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
}

.social-box a:hover {
  background-color: var(--accent-color-2);
  /* transform: scale(1.1); */
}

.logo-box img{
  max-width: 120px;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.nav-link {
  font-size: 1.15rem;
  color: white !important;
  font-weight: 600;
  padding-block: 1.85rem;
  padding-inline: 1.50rem;
}

.nav-link:hover {
  color: #F291A3 !important;
}

.nav-link.active {
  color: white !important;
}

.dropdown-menu{
  border: 0;
  border-radius: 0 0 25px 25px;
  padding: 15px 0px;
  width: 220px;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.3);
}

.dropdown-item {
  color: var(--text-color);
  font-size: 1.15rem;
  padding: 15px;
  font-weight: 600;
  padding-block: 0.75rem;
  padding-inline: 0.75rem;
}

.dropdown-item:hover {
  /* color: var(--accent-color) !important; */
  color: #F291A3;
  background-color: transparent;
}

.dropdown-item:focus {
  color: var(--accent-color) !important;
}

.dropdown-item.active {
  color: #F291A3 !important;
  background-color: transparent;
}
/* ---------------------------- */
/* Buttons and Links            */
/* ---------------------------- */
.btn-quotes {
  width: 180px;
  /* background-color: var(--text-color); */
   /* background-color: #e8be45; */
   /* background-color: #F291A3; */
   background: linear-gradient(45deg, #d9bf68, #d5992d);
  color: #FFFFFF;
  font-size: 1.15rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  border: none;
}

.btn-quotes:hover {
  /* background-color: #e8be45; */
  color: #FFFFFF;
  border: none;
}

.btn-primary-solid {
  /* background-color: var(--primary-color); */
  background-color: #F291A3;
  color: #FFFFFF;
  font-size: 1.15rem;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  font-weight: 600;
  border: none;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}
/* 
.btn-primary-solid:hover {
  background-color:#e8be45;
  color: #FFFFFF;
  border: none;
  transform: scale(1.1);
} */

.btn-secondary-solid {
  /* background-color: var(--secondary-color); */
  color: #FFFFFF;
  font-size: 1.15rem;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  font-weight: 600;
  border: none;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.btn-secondary-solid:hover {
  background-color: var(--accent-color-2);
  color: #FFFFFF;
  border: none;
  transform: scale(1.1);
}

.btn-secondary-solid-2 {
  background-color: var(--secondary-color);
  color: #FFFFFF;
  font-size: 1.15rem;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  font-weight: 600;
  border: none;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.btn-secondary-solid-2:hover {
  background-color: var(--primary-color);
  color: #FFFFFF;
  border: none;
  transform: scale(1.1);
}

.links-primary {
  font-family: var(--font-2);
  color: var(--text-color);
  font-size: 18px;
  text-decoration: none;
}

.links-primary:hover {
  color: var(--primary-color) !important;
  text-decoration: none;
}

.links-secondary {
  font-family: var(--font-2);
  color: #FFFFFF;
  font-size: 18px;
  text-decoration: none;
}

.links-secondary:hover,
.links-secondary.active {
  color: var(--secondary-color) !important;
  text-decoration: none;
}

.badge-primary-color {
  background-color: var(--primary-color);
  color: #FFFFFF;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 30px;
  font-weight: 600;
}

.badge-primary-color:hover {
  background-color: var(--accent-color);
  color: #FFFFFF;
}

/* ---------------------------- */
/* Utilities                    */
/* ---------------------------- */
.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.video-box {
  width: 100%;
  max-width: 960px;
  height: auto;
}

.video-overlay .ratio {
  width: 100%;
  height: auto;
}

.video-overlay iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.img-container {
  width: 100%;
  max-width: 100%;
  max-width: 1000px;
}

.ratio-wrapper-429 {
  position: relative;
  aspect-ratio: 3 / 4; /* default: portrait */
  overflow: hidden;
}

.img-circle {
  width: 275px;
  height: 275px;
}

.ratio-wrapper-419 {
  position: relative;
  aspect-ratio: 3 / 4; /* default: portrait */
  overflow: hidden;
}

.bg-overlay-secondary {
  background: linear-gradient(45deg, rgba(59, 103, 191, 0.9), rgba(247, 211, 218, 0.8));
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.transition-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.transition-hover:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.scale-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.scale-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.bg-secondary-gradient {
  background: linear-gradient(to right,white 0%,white 50%,#F8DAE0 50%,#F7D9DF 100%);
}

.breadcrumb {
  font-size: 22px;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: white !important;
}

.breadcrumb-item a:hover,
.breadcrumb-item.active {
  color: white !important;
}

.list-unstyled {
  padding-left: 0;
  margin-bottom: 0;
}

/* ---------------------------- */
/* Sections                     */
/* ---------------------------- */
.banner-section {
  position: relative;
  overflow: hidden;
  padding: 50px 75px 0 75px;
  color: white;
}

.hero-section {
  background-image: url('../image/Homehero.png');
  background-size: cover;
  background-position: center;
  padding-bottom: 80px;
}

/* ---------------------------- */
/* Swiper                       */
/* ---------------------------- */
.swiper-container-outer {
  position: relative;
  overflow: hidden;
}

.swiper {
  padding: 30px 0;
}

.swiper-slide {
  height: auto;
}

/* ---------------------------- */
/* Boxes and Cards              */
/* ---------------------------- */
.step-box {
  position: relative;
  margin-bottom: 3rem;
}

.step-box h1 {
  position: absolute;
  font-family: var(--font-1);
  font-weight: 900;
  opacity: 0.8;
  top: -10px;
  left: 13%;
  transform: translateX(-50%);
  z-index: 0;
  background:
  -webkit-linear-gradient(var(--primary-color), #9abbfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.step-box h3 {
  position: relative;
  font-family: var(--font-1);
  font-weight: 700;
  margin: 25px 0 20px 0;
  z-index: 1;
}

.step-box p {
  position: relative;
  z-index: 1;
}

.feedback-card {
  background: #fff;
  border: var(--primary-color) 2px solid;
  border-radius: 30px;
  padding: 35px;
}

.quotes-section {
  padding: 6em 2em 6em 2em;
  position: relative;
  overflow: hidden;
}

.quotes-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background-image: url('../image/Place-Holder-1920x1280.jpg');
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
  z-index: -1; /* place behind of content */
}

.quotes-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(58, 95, 169, 0.9), rgba(244, 197, 206, 0.8));
  opacity: 0.9;
  z-index: 1; /* place in-front of content */
}

.quotes-section > .container {
  position: relative; /* Force container in-front of background */
  z-index: 2;
}

.quotes-section > .card {
  margin-top: 30px; /* Space from heading */
}

.news-card {
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.news-card .card-title {
  font-family: var(--font-1);
  font-weight: 800;
  text-decoration: none;
}
.news-card .card-title:hover {
  font-family: var(--font-1);
  font-weight: 800;
  /* font-size: 22px; */
  text-decoration: none;
  color: var(--primary-color);
}

/* ---------------------------- */
/* Footer                       */
/* ---------------------------- */
.footer {
  position: relative;
  overflow: hidden;
  color: white;
}

.footer-background {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../image/Place-Holder-1920x1280.jpg');
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

.footer-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(23, 71, 166, 0.9), rgba(59, 103, 191, 0.9));
  z-index: 1; /* place in-front of content */
}

.footer-logo > img {
  max-height: 65px;
}

/* ---------------------------- */
/* Accordion                    */
/* ---------------------------- */
.accordion .accordion-item {
  border: none;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  overflow: hidden;
  background-color: transparent;
}

.accordion .accordion-button {
  font-size: large;
  font-weight: 700;
  color: #fff;
  background-color: var(--accent-color); /* Default blue */
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-shadow: none;
}

.accordion .accordion-button.collapsed {
  background-color: #00bcd4; /* Blue for collapsed */
  color: #fff;
}

.accordion .accordion-button:not(.collapsed) {
  background-color: var(--accent-color-2); /* Pink for expanded */
  color: #000;
}

.accordion .accordion-button:focus {
  box-shadow: none;
}

.accordion i {
  font-size: 1.2rem;
}

.accordion .accordion-collapse {
  margin-top: 0.5rem; /* Gap between header and body */
}

.accordion .accordion-body {
  font-size: large;
  background-color: #F5F5F5;
  padding: 1.5rem;
  border-radius: 1rem;
  /* margin-top: 0.5rem; */
  color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

/* ---------------------------- */
/* Error 404                    */
/* ---------------------------- */
.error-code {
  font-size: 18rem;
  font-weight: 900;
  line-height: 1;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.error-code span:nth-child(2) {
  background: linear-gradient(180deg, var(--primary-color), #FFC2B3);
  color: white;
  padding: 20px 0;
  border-radius: 1.5rem;
}
/* ---------------------------- */
/* Responsive Layouts           */
/* ---------------------------- */
@media only screen and (max-width: 1199.98px) {
  .ratio-wrapper-429 {
    aspect-ratio: 3 / 2;
  }

  .ratio-wrapper-419 {
    aspect-ratio: 1 / 1;
  }

  .step-box h1 {
    left: 17%;
  }
}

@media only screen and (max-width: 991.98px) {
  /* ---------------------------- */
  /* Typography                   */
  /* ---------------------------- */
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  button, a{
    font-size: 17px;
  }

  p{
    font-size: 16px;
  }

/* ---------------------------- */
/* Header and Navbar            */
/* ---------------------------- */
/* padding: 4em 2em 4em 2em; */
  .section {
    padding: 4em 1em;
  }

  .top-bar {
    display: none;
  }

  .logo-box img {
    max-width: 86px;
  }

  .logo-drawer img {
    max-height: 60px;
  }

  .nav-link {
    font-size: 1rem;
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
  }
  
  .nav-link.active,
  .nav-link:hover,
  .nav-link:focus {
    color: white !important
  }

  .navbar-nav .nav-link {
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
  }

  .dropdown-menu {
    border-radius: 0;
    width: 100%;
    padding: 5px 0px 5px 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .dropdown-item {
    font-size: 1rem;
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
  }

  .btn-quotes {
    display: none;
  }

  .img-circle {
    width: 275px;
    height: 275px;
  }

  .step-box h1 {
    left: 5%;
  }

  .feedback-slide {
    width: 33.333%; /* 3 slides per-row for desktop */
  }

  .bg-secondary-gradient {
    background: linear-gradient(to top,white 0%,white 62%,#F8DAE0 62%,#F7D9DF 100%);
  }

  .quotes-section {
    position: relative; /* Force container in-front of background */
    overflow: hidden;
    padding: 0;
  }

  .quotes-section > .container {
    position: relative; /* Force container in-front of background */
    z-index: 2;
    padding: 0;
  }

  .quotes-section > .card {
    margin-top: 70px;
  }

  .img-container {
    width: 90%;
  }

  .ratio-wrapper-429 {
    aspect-ratio: 16 / 9;
  }

  .img-circle {
    width: 300px;
    height: 300px;
  }

  .footer-logo {
    text-align: center;
    padding: 0 4rem;
  }

  .footer-logo > img {
    max-height: 85px;
  }

  .error-code {
    font-size: 15rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .btn-play {
    width: 80%;
  }

  .badge-cta {
    display: none;
  }

  .bg-secondary-gradient {
    background: linear-gradient(to top,white 0%,white 61%,#F8DAE0 61%,#F7D9DF 100%);
  }

  .img-container {
    width: 85%;
  }

  .ratio-wrapper-429 {
    aspect-ratio: 1 / 1;
  }

  .img-circle {
    width: 300px;
    height: 300px;
  }

  .step-box h1 {
    left: 6%;
  }

  .footer-logo > img {
    max-height: 65px;
  }
}

@media only screen and (max-width:576.98px){
  .ratio-wrapper-429 {
    aspect-ratio: 3 / 4;
  }

  .img-circle {
    width: 185px;
    height: 185px;
  }

  .step-box h1 {
    left: 8%;
  }

  .error-code {
    font-size: 10rem;
  }
}

/* FAQ Section */
.faq-section {
  background: linear-gradient(to right, #b2c4f1, #ecc0d2);
  padding: 4rem 1rem;
}

.faq-container {
  max-width: 1200px;
  margin: 0 auto;
  gap: 3rem;
}

.faq-left {
  flex: 1 1 400px;
  max-width: 600px;
}

.faq-label {
  /* color: #1d2c6b; */
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.faq-title {
  font-size: 2.5rem;
  font-weight: 800;
  color:#00bcd4;
  margin-bottom: 1rem;
}

.faq-title span {
  color: #1d4ed8;
}

.faq-rating {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #cc6699;
  padding: 0.5rem 1.2rem;
  border-radius: 50px;
  width: max-content;
  font-weight: 600;
}

.faq-rating .stars {
  color: #ffc107;
  font-size: 1.2rem;
}

.faq-rating .score {
  color: #fff;
}

.faq-desc {
  margin-top: 1rem;
  color: #f3f4f6;
  font-size: 18px;
}

.faq-right {
  flex: 1 1 500px;
  max-width: 600px;
}

.accordion-item {
  margin-bottom: 1rem;
  border: none;
  border-radius: 30px;
  overflow: hidden;
}

.accordion-button {
  background-color: #2563eb;
  color: #fff;
  font-weight: 600;
  border-radius: 30px !important;
  padding: 1rem 1.5rem;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  background: #ffffff;
  color: #333;
  font-size: 1rem;
  padding: 1.25rem;
}
/* Hero Section */
.hero-section {
  background: linear-gradient(to right, #06321f,#ecc0d2 );
  padding: 2rem 1rem;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section .container {
  max-width: 800px;
}

.hero-title {
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
  margin-bottom: 1rem;
  line-height: 1.3;
}

.hero-subtitle {
  font-size: 1.25rem;
  color: #f3f4f6;
  margin-bottom: 2rem;
}

.hero-btn {
  padding: 0.75rem 2rem;
  font-weight: 600;
  border-radius: 30px;
  background-color: #F291A3;
  border: none;
  transition: background 0.3s ease;
}

.hero-btn:hover {
  /* background-color: #163fb9; */
  background-color: #e8be45;
  color: #fff;
}


.hypnosis-section {
  background: linear-gradient(to right, #b2c4f1, #ecc0d2);
  color: #212529;
}


.section-heading {
  font-size: 2rem;
  font-weight: 700;
  color: #06321f;
}

.section-subheading {
  font-size: 1.5rem;
  font-weight: 600;
  color: #06321f;
}

.intro-text {
  font-size: 1.1rem;
  max-width: 800px;
  color: #444;
}

.benefits-list li {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  padding-left: 1.25rem;
  position: relative;
  color: #333;
}

.benefits-list i {
  font-size: 1.1rem;
}

.button-center-container {
  display: flex;
  justify-content: center;
  padding-top: 5px; /* Adjust this value to move it higher/lower */
  text-align: center;
}

.consultation-btn-wrapper {
  position: relative;
  display: inline-block;
}

.consultation-btn {
  background-color: #12c3c3;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 12px 24px;
  text-decoration: none;
  position: relative;
  z-index: 2;
  display: inline-block;
  border-radius: 4px;
}

.consultation-btn-wrapper::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 8px;
  width: 100%;
  height: 100%;
  background-color: #ff7eb9;
  z-index: 1;
  border-radius: 4px;
}


.custom-btn-wrapper {
  position: relative;
  display: inline-block;
}

.custom-btn {
  position: relative;
  background-color: #00c2c5; /* Turquoise */
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-family: Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 12px 28px;
  display: inline-block;
  z-index: 2;

  /* Remove default button styles */
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.custom-btn-wrapper::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
  width: 100%;
  height: 100%;
  background-color: #ff70a6; /* Pink background */
  z-index: 1;
}

.styled-btn {
  background-color: #ff86a0;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 24px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.styled-btn::after {
  content: '';
  background-color: #1ccfcf;
  position: absolute;
  bottom: -8px;
  right: -8px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.quick-links a {
  font-family: 'Baar Metanoia', cursive;
  color: white;
  text-decoration: none;
}

body p{
  font-size: 18px;
}

.step-box {
  transition: all 0.4s ease-in-out;
}

.step-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:#00bcd4;
  opacity: 0.5;
  transition: opacity 0.4s ease;
  margin-bottom: 0;
  
  
  
}

.carousel-indicators .active {
  opacity: 1;
}

.faq-section {
  background-color: #f8f9fa;
}

.faq-title span {
  color: #00bcd4;
}

.testimonial-box {
  transition: all 0.4s ease-in-out;
}

.testimonial-box:hover {
  transform: translateY(-5px);
}

carousel-indicators button{
position: fixed;
}

header{
  background-color: #06321f;
}

/* Base positioning */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-sub-down {
  top: 0;
  left: 100%;
  position: absolute;
  margin-top: 0;
  display: none;
  z-index: 1000;
}

/* Show submenu on hover for desktop */
@media (min-width: 992px) {
  .dropdown-submenu:hover > .dropdown-sub-down {
    display: block;
  }

  .dropdown-submenu .dropdown-toggle::after {
    display: inline-block;
    margin-left: .5rem;
    vertical-align: middle;
    content: "";
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
    float: right;
  }
}

/* Mobile behavior: override hover and use click logic */
@media (max-width: 991.98px) {
  .dropdown-submenu .dropdown-sub-down {
    position: relative !important;
    left: 0;
    top: 0;
    width: 100%;
  }

  .dropdown-submenu .dropdown-toggle::after {
    float: right;
  }

  /* Optional: indent submenu items */
  .dropdown-submenu .dropdown-sub-down a {
    padding-left: 2rem;
  }

  /* Don't show on hover */
  .dropdown-submenu:hover > .dropdown-sub-down {
    display: none !important;
  }

  /* Show when toggled (we'll add a class via JS) */
  .dropdown-submenu.show > .dropdown-sub-down {
    display: block !important;
  }
}



.therapy-banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 3rem 2rem;
  background: linear-gradient(to right, #b2c4f1, #ecc0d2);
}

.image-col {
  flex: 1;
  min-width: 300px;
  max-width: 450px;
  text-align: center;
}

.image-col img {
  width: 100%;
   height: 500px;
  
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.text-col {
  flex: 1;
  min-width: 300px;
  max-width: 550px;
  text-align: center;
}

.main-heading {
  font-family:'Baar Metanoia';
  font-size: 2.5rem;
  font-weight: 700;
  color: #222;
}

.subheading {
  font-size: 1.5rem;
  font-weight: 600;
  color: #00bcd4;
}

.highlight {
  color: #00bcd4;
}

.underline {
  width: 70px;
  height: 5px;
  background-color: #ffc107;
  margin: 1rem auto;
  border-radius: 4px;
}

.consult-btn {
  background-color: #00bcd4;
  color: white;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 5px 5px 0 #ff69b4;
  display: inline-block;
  margin-top: 1rem;
}


.abt-us{
  color: #00bcd4;
}

h1, h2, h3,h4, h5, h6{
font-family: 'Baar Metanoia';
}


.whatsapp-btn {
  position: fixed;
  right: 12px;
  bottom: 6rem;
  display: grid;
  place-items: center;
  background: #25d366;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  z-index: 10000;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.whatsapp-btn a {
  color: white;
  font-size: 2rem;
  line-height: 1;
}

.whatsapp-btn:hover {
  background: #1ebe5a;
}
